/* General */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

dd {
    margin-bottom: 1em;
}

i.fa--spaced {
    margin-right: 0.25em;
}

/* Page */
.site-info {
    padding: 2em 0;
}

.site-header {
    margin-bottom: 2em;
}

.site-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.panel {
    border-radius: 0;
    margin-bottom: 3em;
}

.panel-body {
    text-align: center;
}

.site-footer {
    margin-top: 2em;
}